<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delivery.history.api.mapper.DvlCdMngMapper">
    <select id="selectList" parameterType="DvlCdMngReq" resultType="DvlCdMngRes">
    SELECT /* DvlCdMngMapper.selectList */
           DVL_CD,
           DVL_TYPE_CD,
           DVL_NAME,
           START_DATE,
           END_DATE,
           DVL_COST,
           USE_YN 
      FROM DVL_POLICY_DTL
     WHERE 1=1
       <if test="dvlCd != null">
            AND DVL_CD = #{dvlCd}
       </if>
       <if test="dvlTypeCd != null">
            AND DVL_TYPE_CD = #{dvlTypeCd}
       </if>
       <if test="dvlName != null">
            AND DVL_NAME LIKE '%'|| #{dvlName} || '%'
       </if>
       <if test="useYn != null">
            AND USE_YN = #{useYn}
       </if>
       <if test="startDate != null">
            AND END_DATE &gt;=  TO_DATE(#{startDate} || '00:00:00', 'YYYY-MM-DD HH24:MI:SS')
       </if>
        <if test="endDate != null">
             AND START_DATE &lt;= TO_DATE(#{endDate} || '23:59:59', 'YYYY-MM-DD HH24:MI:SS')
        </if>
       ORDER BY DVL_TYPE_CD, START_DATE
    </select>

     <select id="getDvlCdKey"  resultType="String">
          SELECT /* DvlCdMngMapper.getDvlCdKey */
                TO_CHAR(NVL(MAX(TO_NUMBER(DVL_CD)),0)+1,'0000') AS DVL_CD
          FROM DVL_POLICY_DTL
    </select>


    <insert id="insertDvlCd" parameterType="DvlCdMngReq">
        INSERT /* DvlCdMngMapper.insertDvlCd */ 
        INTO DVL_POLICY_DTL
        (
           DVL_CD,
           DVL_TYPE_CD,
           DVL_NAME,
           START_DATE,
           END_DATE,
           DVL_COST,
           USE_YN 
        )
        VALUES
        (
           #{dvlCd},
           #{dvlTypeCd},
           (SELECT CD_NAME FROM DVL_TYPE_CM_CD WHERE CD = #{dvlTypeCd}),
           TO_DATE(#{startDate}|| '00:00:00','YYYY-MM-DD HH24:MI:SS'),
           TO_DATE(#{endDate},'YYYY-MM-DD HH24:MI:SS'),
           #{dvlCost},
           'Y'
        )
    </insert>

     <update id="updateDvlCd" parameterType="DvlCdMngReq">
        UPDATE /* DvlCdMngMapper.updateDvlCd */ 
        DVL_POLICY_DTL
        <set>
            <if test="endDate != null">
                END_DATE = TO_DATE(#{endDate},'YYYY-MM-DD HH24:MI:SS'),
            </if>
            <if test="useYn != null">
                USE_YN = #{useYn},
            </if>
        </set>
        WHERE DVL_CD = #{dvlCd}
    </update>
</mapper>
